@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


/*------------------- Cambio en el header-----------------*/ 

.header{
        
    margin: 0;
    height: 70px;   
    font-family:sans-serif;
    box-sizing: border-box;
        
        
   /* height: 100vh;*/
    width: 100%;
    padding: 0 8%;
    position: relative;
    background-color:  rgb(242, 5, 159);
   
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid rgb(184, 8, 122);
    
}

.nav{
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
}

.nav_links{
    padding: 20px 0 ;
}

.nav_links li{
    display: inline-block;
    margin: 0 15px;
}

.nav_links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav_links li a::after{

    content: '';
    background: #ffffff;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav_links li a:hover::after{
    width: 100%;

}

.toggle_btn{
    background-color: #e68d8d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.content{
    position: relative;
    
    width: 90%;
    max-width: 900px;
    
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

.category-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 

}

.category-list a{
    text-decoration: none;
    color: #fff;
}

.category{
    width: 150px;
    height: 180px;
    border-radius: 8%;
    background: rgba(242, 5, 159, 0.979);
    margin: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category:hover{

    background: rgba(104, 10, 71, 0.979);

}

.category p{
    margin: 0;
}

.category img{
    width: 70px;
    margin-bottom: 5px;
    filter: invert(0.9) sepia(0) hue-rotate(20deg) saturate(1000%);

}


.social-links{
    align-items: center;
    padding-top: 10px;

  }

  .social-links a{
    
    /*justify-content: center;  Centra horizontalmente */
    
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    transition: all 0.5s ease;
    align-items: center;

  }

  .social-links a:hover {
    color: #ffffff;
    background-color: rgb(117, 110, 115);
}

.social-links a i{
    color: white;
}

@media(max-width:872px) {
    .nav_links{
        display: none;
    }
    .toggle_btn{
        display: block;
    }


}
.redes_sociales{
    width: 50px;
    height: 50px;
}


@media(max-width:480px) {


    .nav_links {
        display: none;
    }
    .social-links{
        display: none;
    }
    .toggle_btn{
        display: block;
    }

}

.resposive_menu li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    font-size: 10px;
}


.resposive_menu li {
    text-decoration: none;
    list-style: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resposive_menu {
    display: block;
    position: absolute;
    right: 2rem;
    top: 50px;
    height: 0;
    width: 250px;
    background-color: rgba(14, 13, 13, 0.897);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;

}

.resposive_menu.open {
    height: 100px;
}


/*--------------------cambio-------------*/


h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: url('../img/f_tienda.jpg');
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: #ececec;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Buscador */
.search-box {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-container {
    position: relative;
  }
  
  #search {
    padding: 8px 30px 8px 8px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  #search:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #search::placeholder {
    color: #999;
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .search-icon svg {
    width: 16px;
    height: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  #search:focus + .search-icon svg {
    color: #007bff;
  }

  

  
  
.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: #ececec;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active {
    background-color: #ececec;
    color: #652e4e;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #ececec;
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 #ececec;
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}


.texto-footer {
    color: #785ce9;
    font-size: .85rem;
}

main {
    background-color: #ececec;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: #000000;
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto {
    overflow: hidden;
  }
  
.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;

    transition: transform 0.3s ease;
}




.producto-detalles {
    background-color: #000000;
    color: #ececec;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
  
/* Agrega estilos al horario */
.producto-detalles .producto-descripcion:before {
    position: relative;
    display: inline-block;
    content: "\f017";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    color: #fff;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
  
  .producto-detalles .producto-descripcion {
    display: inline-block;
    vertical-align: middle;
  }

  .producto-detalles .producto-ubicacion:before {
    position: relative;
    display: inline-block;
    content: "place";
    font-family: "Material Icons";
    font-size: 1.3rem;
    color: #fff;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .rectangulo-rosado {
    background-image: url('../img/cab_tienda.jpg');
    background-size: cover;
    background-position: center bottom; 
    border-radius: 10px;
    padding: 100px 20px;
    margin: 10px 10px; 
  }

.producto:hover .producto-imagen {
    transform: scale(1.1);
  }

  .producto-titulo {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Aumenta el espaciado entre letras */
    font-weight: bold; /* Aplica un peso de fuente en negrita */
    color: #ff66bf; /* Cambia el color del texto */
    transition: color 0.3s ease; /* Agrega una transición de color suave */
  }
  
  .producto-titulo:hover {
    color: #652e4e; /* Cambia el color del texto al pasar el cursor sobre él */
  }
  


.producto-vermas {
    border: 0;
    background-color: #ececec;
    color: #ff66bf;
    padding: .4rem ;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid #ececec;
    transition: transform 0.3s ease;
  }
  
.producto-vermas:hover {
    background-color: #ff0048;
    color: #ececec;

  }
.producto-vermas:active {
    transform: translateY(2px);
  }

.producto-agregar:hover {
    background-color: #000000;
    color: #ececec;
}


/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: #ff66bf;
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: #e2e2e2;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: #e2e2e2;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}



@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}

/*footer*/
.footer_index {
    background-color: #24262b;
    padding: 70px;
}

.footer_index .container_footer_index{
    line-height: 1.5;
    margin:auto;

}

.footer_index ul{
    list-style: none;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-col{
    width: 25%;
   
    padding-left: 50px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #ffffff;
    background-color: rgb(242, 5, 159);


}

/*footer resonsiv*/

@media(max-width:700px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;

    }

}

@media(max-width:574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;

    }

}
