body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: black;
}

/*------------------- Cambio en el header-----------------*/

.header{
        
    margin: 0;
    height: 70px;   
    font-family:sans-serif;
    box-sizing: border-box;
        
        
   /* height: 100vh;*/
    width: 100%;
    padding: 0 8%;
    position: relative;
    background-color:  rgb(242, 5, 159);
   
    background-repeat: no-repeat;
    background-size:cover;
    border: 2px solid rgb(10, 6, 10);
    
}

.nav{
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
}

.nav_links{
    padding: 20px 0 ;
}

.nav_links li{
    display: inline-block;
    margin: 0 15px;
}

.nav_links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav_links li a::after{

    content: '';
    background: #ffffff;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav_links li a:hover::after{
    width: 100%;

}

.toggle_btn{
    background-color: #e68d8d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.content{
    position: relative;
    
    width: 90%;
    max-width: 900px;
    
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

.category-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 

}

.category-list a{
    text-decoration: none;
    color: #fff;
}

.category{
    width: 150px;
    height: 180px;
    border-radius: 8%;
    background: rgba(242, 5, 159, 0.979);
    margin: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category:hover{

    background: rgba(104, 10, 71, 0.979);

}

.category p{
    margin: 0;
}

.category img{
    width: 70px;
    margin-bottom: 5px;
    filter: invert(0.9) sepia(0) hue-rotate(20deg) saturate(1000%);

}


.social-links{
    align-items: center;
    padding-top: 10px;

  }

  .social-links a{
    
    /*justify-content: center;  Centra horizontalmente */
    
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    transition: all 0.5s ease;
    align-items: center;

  }

  .social-links a:hover {
    color: #ffffff;
    background-color: rgb(117, 110, 115);
}

.social-links a i{
    color: white;
}

@media(max-width:872px) {
    .nav_links{
        display: none;
    }
    .toggle_btn{
        display: block;
    }


}
.redes_sociales{
    width: 50px;
    height: 50px;
}


@media(max-width:480px) {


    .nav_links {
        display: none;
    }
    .social-links{
        display: none;
    }
    .toggle_btn{
        display: block;
    }

}

.resposive_menu li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    font-size: 10px;
}


.resposive_menu li {
    text-decoration: none;
    list-style: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resposive_menu {
    display: block;
    position: absolute;
    right: 2rem;
    top: 50px;
    height: 0;
    width: 250px;
    background-color: rgba(14, 13, 13, 0.897);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;

}

.resposive_menu.open {
    height: 100px;
}




/*--------------------cambio-------------*/

.fondo-imagen {
    background-image: linear-gradient(to top,
            rgba(255, 0, 255, 0) 100%,
            rgba(238, 0, 159, 0) 100%),
        url(../img/fondo2.jpg);
    background-size: cover;
    padding: 50px;
}

/*FORMATO FONDO CODIGO EN MOVIMIENTO*/
.formato1-fondo {
    background-color: rgb(255, 255, 255);
    height: 75vh;
    /* Altura*/
    width: 80vw;
    /* Ancho*/
    margin-left: auto;
    /* Margen izquierdo */
    margin-right: auto;
    /* Margen derecho */
    display: flex;
    /* Utilizar flexbox para centrar */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.formato2-fondo {
    background-color: rgb(255, 255, 255);
    height: 90vh;
    /* Altura*/
    width: 80vw;
    /* Ancho*/
    margin-left: auto;
    /* Margen izquierdo */
    margin-right: auto;
    /* Margen derecho */
    display: flex;
    /* Utilizar flexbox para centrar */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 50px;
}

.formato3-fondo {
    background-color: rgb(255, 255, 255);
    height: 80vh;
    /* Altura*/
    width: 80vw;
    /* Ancho*/
    margin-left: auto;
    /* Margen izquierdo */
    margin-right: auto;
    /* Margen derecho */
    display: flex;
    /* Utilizar flexbox para centrar */
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: flex-start;
    /* Centrar verticalmente */
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* INICIO-INICIO-INICIO-INICIO-INICIO-INICIO */

.cuerpo-inicio-inicio {
    height: 100vh;
    background-color: #a18cd1;
}

.s-inicio {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
}

.titulo {
    font-size: 60px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Cinzel', serif;
    -webkit-text-stroke: 1px rgb(175, 27, 155);
}

.textito{
    -webkit-text-stroke: 1px rgb(223, 24, 223);
}

.contenedor-inicio {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.checklist-inicio {
    width: 100%;
}

.inicio {
    font-size: 20px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    width: 100%;
}



/* NOTICIA-NOTICIA-NOTICIA-NOTICIA-NOTICIA-NOTICIA */
.cuerpo-subtitulo {
    background-color: rgba(230, 31, 31, 0);
    display: flex;
    justify-content: space-between;
    /* Ocupar todo el espacio de izquierda a derecha */
    align-items: center;
    margin-bottom: 0px;
    flex-wrap: wrap;
    width: 100%;
    /* Ocupar todo el ancho disponible */
}

.subtitulo {
    text-align: center;
    background-color: rgb(252, 111, 198);
    font-weight: 300;
    color: #000000;
    line-height: 1.5;
    font-weight: bold;
    width: 100%;
    /* Ocupar todo el ancho disponible */
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: "Lato", sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(255, 6, 201, 0.3);
}


.cuerpo-imagen {
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*margin: 0 100px;*/
    margin-top: 0px;
    margin-bottom: 0px;
    flex-wrap: wrap;
    border: 0px solid rgb(255, 255, 255);
}

.container-imagen {
    background-color: transparent;
    width: 50%;
    height: 100%;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

.noticia-texto {
    width: 50%;
    height: 100%;
    display: flex;
    margin-bottom: 0px;
}

.contenedor-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.checklist-texto {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}

.texto {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    text-align: justify;
    color: #c90959;
}

.n-texto {
    font-weight: 800;
    color: #c90909;
}

.mi-imagen {
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
}

/* COMENTARIOS-COMENTARIOS-COMENTARIOS */

.seccion-comentario {
    display: flex;
}

.container-comentario {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.titulo-comentario {
    background-color: rgba(111, 88, 238, 0.795);
    width: 100%;
    max-width: 400px;
    height: 60px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /*border-radius: 10px;*/
    color: black;
    font-family: "Lato", sans-serif;
}

.comentario-datos {
    margin-right: 10px;
    background-color: rgba(172, 174, 255, 0.7);
    width: 100%;
    height: 235px;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    /*border-radius: 10px;*/
}

.comentario-datos>* {
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-comentario {
    width: 400px;
    height: 100px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 5px;
    font-family: "Lato", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.input-comentario input,
.input-comentario textarea {
    width: 97.5%;
    padding: 5px;
    border: 1px solid #ccc;
    /*border-radius: 3px;*/
}

.btn-agg {
    height: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5px 0px 0px;
    width: 100%;
}

.btn-agg button {
    padding: 7px 15px;
    border: 1px solid rgb(17, 0, 255);
    border-radius: 20px;
    background-color: rgb(20, 94, 255);
    color: rgb(255, 255, 255);
    outline: none;
    font-size: 12px;
    cursor: pointer;
    margin-top: 30px;
    /* Ajusta el valor según la separación deseada */
}

.btn-agg button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 17, 255);
}

.titulo-caja-comentario {
    background-color: rgba(24, 200, 253, 0.795);
    width: 100%;
    max-width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /*border-radius: 10px;*/
    color: black;
    font-family: "Lato", sans-serif;
}

.comentario-caja {
    width: 600px;
    max-height: 300px;
    overflow-y: auto;
    height: auto;
    background-color: rgba(144, 250, 250, 0.7);
    display: flex;
    justify-content: flex-start;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    flex-direction: column;
    padding: 30px 20px 30px 20px;
    gap: 20px;
    /*text-transform: capitalize;*/
    /*border-radius: 10px;*/
    margin-top: 0;
    margin-bottom: 0px;
}

.comentario {
    background-color: rgba(255, 255, 255, 0.973);
    width: 100%;
    max-width: 530px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    /*border-radius: 10px;*/
    color: black;
    font-family: "Lato", sans-serif;
}

.comentario-a {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 530px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    /*border-radius: 10px;*/
    color: black;
    font-family: "Lato", sans-serif;
}

.comentario-a strong:first-of-type {
    font-weight: bold;
}

.comentario-a strong:not(:first-of-type) {
    font-weight: normal;
}

/* UBICACION-UBICACION-UBICACION */

.cuerpo-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-ubicacion {
    width: 600px;
    height: 350px;
    border: 0;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 1px solid #7c7c7c;
}

.imagen-ubicacion {
    width: 210px;
    height: 200px;
    margin-left: -20px;
}

.ubicanos-aqui {
    text-align: center;
    background-color: #910d0d00;
    padding: 20px;
    height: 310px;
    margin-left: 80px;
  }
  
  .ubicanos-aqui h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .ubicanos-aqui p {
    font-size: 15px;
    margin-bottom: 0px;
  }
  

.social-media {
    width: 50%;
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: #fff;
    color: #6aeeee;
}

.social-media-icon i {
    font-size: 20px;
    line-height: 50px;
}

/*footer*/
.footer_index {
    background-color: #24262b;
    padding: 70px;
}

.footer_index .container_footer_index {
    line-height: 1.5;
    margin: auto;

}

.footer_index ul {
    list-style: none;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-col {
    width: 25%;

    padding-left: 50px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;

    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: rgb(242, 5, 159);


}

/*footer resonsiv*/

@media(max-width:700px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;

    }

}

@media(max-width:574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;

    }

}
