*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #2a2a2c
}

nav ul{
    display: inline-block;
    list-style-type: none;
}


.vands{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: flex-start;
    justify-content: space-around;
}


  .about1{
      width: 90%;
      height: 15vh;
      margin: auto;
      background-color: #2a2a2c;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      border-radius: 1rem;
      margin-top: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8vw;
      padding-left: 1vw;
      border-left: 0.3rem solid rgb(242, 5, 159);
      text-align: center;
  }
  .about1:hover{
    transition: transform .2s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  hr{
      width: 90%;
      margin: auto;
      margin-top: 2rem;
      border: 1.5px solid rgb(242, 5, 159);
      border-radius: 1em;
  }

  .vands .about2{
    box-shadow: none;
    width: 40%;
    padding-right: 0;
    margin: 0;
}

.about2{
    width: 90%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    padding-left: 1vh;
    padding-right: 1vh;
    color: white;
    text-align: center;
    background-color: #2a2a2c;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 1rem;
    border-left: 0.3rem solid rgb(242, 5, 159);
    padding-bottom: 2rem;
}

.about2 h2{
    font-family: 'Poppins',sans-serif;
    color: rgb(242, 5, 159);
    font-size: 40px;
}

.about2 p{
    
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
}
.about2:hover{
    transition: transform .2s ease;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
}

.team{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    color: white;
    margin-top: 3rem;
    font-size: 50px;
}
.flexbox1{
    margin-top: -50px;
}
.flexbox1 h2{
    font-family:'Poppins',sans-serif;
    font-size: 23px;
}
@media(min-width: 768px) {
    .container-1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        -ms-flex-align: center;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-top: 10vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        height: 55vh;
        background-color: #2a2a2c;
        
    }
}

.flexbox1 {
    padding-top: 0.4vh;
    padding-left: 0vh;
    padding-right: 0vh;
    background-color: whitesmoke;
    color: black;
    font-size: 1.2vw;
    border-radius: 0.5rem;
    height: 55vh;
    line-height-step: 0.5vh;
    width: 20vw;
    transition: .2s ease;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.flexbox1:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#pic{
    width: 19.5vw;
    height: 38.85vh;
    border-radius: 0.5rem;
}

.button {
    border-radius: 0.5rem;
    background-color: rgb(242, 5, 159);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1vw;
    padding: 1vh;
    width: 55%;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10vh;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5%;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 1.5rem;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /*------------------- Cambio en el header-----------------*/

.header{
        
    margin: 0;
    height: 70px;   
    font-family:sans-serif;
    box-sizing: border-box;
        
        
   /* height: 100vh;*/
    width: 100%;
    padding: 0 8%;
    position: relative;
    background-color:  rgb(242, 5, 159);
   
    background-repeat: no-repeat;
    background-size:cover;
    border: 2px solid rgb(10, 6, 10);
    
}

.nav{
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
}

.nav_links{
    padding: 20px 0 ;
}

.nav_links li{
    display: inline-block;
    margin: 0 15px;
}

.nav_links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav_links li a::after{

    content: '';
    background: #ffffff;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav_links li a:hover::after{
    width: 100%;

}

.toggle_btn{
    background-color: #e68d8d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

.content{
    position: relative;
    
    width: 90%;
    max-width: 900px;
    
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

.category-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 

}

.category-list a{
    text-decoration: none;
    color: #fff;
}

.category{
    width: 150px;
    height: 180px;
    border-radius: 8%;
    background: rgba(242, 5, 159, 0.979);
    margin: 5px 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category:hover{

    background: rgba(104, 10, 71, 0.979);

}

.category p{
    margin: 0;
}

.category img{
    width: 70px;
    margin-bottom: 5px;
    filter: invert(0.9) sepia(0) hue-rotate(20deg) saturate(1000%);

}


.social-links{
    align-items: center;
    padding-top: 10px;

  }

  .social-links a{
    
    /*justify-content: center;  Centra horizontalmente */
    
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 37px;
    border-radius: 50%;
    transition: all 0.5s ease;
    align-items: center;

  }

  .social-links a:hover {
    color: #ffffff;
    background-color: rgb(117, 110, 115);
}

.social-links a i{
    color: white;
}

@media(max-width:872px) {
    .nav_links{
        display: none;
    }
    .toggle_btn{
        display: block;
    }


}
.redes_sociales{
    width: 50px;
    height: 50px;
}


@media(max-width:480px) {


    .nav_links {
        display: none;
    }
    .social-links{
        display: none;
    }
    .toggle_btn{
        display: block;
    }

}

.resposive_menu li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
    font-size: 10px;
}


.resposive_menu li {
    text-decoration: none;
    list-style: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resposive_menu {
    display: block;
    position: absolute;
    right: 2rem;
    top: 50px;
    height: 0;
    width: 250px;
    background-color: rgba(14, 13, 13, 0.897);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;

}

.resposive_menu.open {
    height: 100px;
}




/*--------------------cambio-------------*/
/*footer*/
.footer_index {
    background-color: #24262b;
    padding: 70px;
}

.footer_index .container_footer_index {
    line-height: 1.5;
    margin: auto;

}

.footer_index ul {
    list-style: none;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-col {
    width: 25%;

    padding-left: 50px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;

    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: rgb(242, 5, 159);


}

/*footer resonsiv*/

@media(max-width:700px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;

    }

}

@media(max-width:574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;

    }

}
